/* Button Styles */
.viewButton, .payButton {
    padding: 8px 15px;
    background-color: #007bff; /* Blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.viewButton:hover {
    background-color: #0056b3; /* Darker blue */
}

.payButton {
    background-color: #E52028; /* Alizarin Crimson */
}

.payButton:hover {
    background-color: #bb90a9; /* Sea Pink */
}
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

table th {
    background-color: #1b2663; /* Primary Color */
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f8f9fa;
}

table tr:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

/* Table Cell Style */
table td {
    color: #2c3e50;
}

table th, table td {
    font-size: 14px;
}

table td a {
    text-decoration: none;
    color: #E52028; /* Alizarin Crimson */
    padding: 6px 12px;
    border-radius: 4px;
}

table td a:hover {
    background-color: #bb90a9; /* Sea Pink */
    color: white;
}
/* Search input */
#search {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}