/* Main content styles */
.main-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 1300px;
    margin: 50px auto;
    font-family: 'Arial', sans-serif;
}

/* Header styles */
header h1 {
    font-size: 2.2em;
    color: #2c3e50;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}
/* Operation Boxes */
.dash-container h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.operation-box {
    width: 200px;
    height: 220px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operation-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.operation-box img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.operation-box a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    line-height: 1.4;
}
/* Form */
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.save-button button {
    background-color: #007BFF; /* Blue */
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.save-button button:hover {
    background-color: #0056b3; /* Darker Blue for Hover */
}

